<section>
  <div class="row">
  <div class="large-12 columns text-center">
  <h3>Visitanos en cualquiera de Nuestras 2 Sucursales.</h3>
    <div class="small-6 large-6 columns panel callout radius">
      <h4>Matriz</h4>
      <h5><i class="fa fa-map-marker fa-2x"></i> <strong>Justo Sierra</strong>, No. 41, Col. Centro, México D.F.</h5>
      <h2><i class="fa fa-phone"></i> 55-22-11-13, 55-42-03-22</h2>
    </div>
    <div class="small-6 large-6 columns panel callout radius">
      <h4>Sucursal</h4>
      <h5><i class="fa fa-map-marker fa-2x"></i> <strong>Del Carmen</strong>, No. 32-B, Col. Centro, México D.F.</h5>
      <h2><i class="fa fa-phone"></i> 57-95-32-78, 57-02-08-01</h2>
    </div>
    <div class="large-12 columns">
      <h2><i class="fa fa-envelope"></i> c_ventas@elcastillodelafantasía.com.mx</h6></h2>
    </div>
  </div>
</div>
</section>
<section>
  <div class="row">
    <div class="large-12 text-center">
      <div class="small-3 large-3 columns">
        <h2><i class="fa fa-flag fa-3x"></i></h2>
        <h2>Tenemos 2 Sucursales.</h2>
      </div>
      <div class="small-3 large-3 columns">
        <h2><i class="fa fa-credit-card fa-3x"></i></h2>
        <h2>Aceptamos todas las Tarjetas.</h2>
      </div>
      <div class="small-3 large-3 columns">
        <h2><i class="fa fa-truck fa-3x fa-flip-horizontal"></i></h2>
        <h2>Enviamos a toda la Republica</h2>
      </div>
      <div class="small-3 large-3 columns">
        <h2><i class="fa fa-heart fa-3x"></i></h2>
        <h2>Atención 100% personalizada.</h2>
      </div>
    </div>
  </div>
</section>