<% if user_signed_in? %>

<% else %>
  <header class="animated fadeIn">
    <div class="row">
      <div class="large-6 columns cuadro">
        <h1 class="cuadro"><%= t(".brand") %></h1>
          <p> <%= t(".copy") %> </p>
      </div>
      <div class="large-12 text-center columns">
        <div class="logo">
          <figure>
            <%= image_tag "bag.png", :alt => t(".brand") %>
          </figure>
        </div>
        <div class="large-12 columns cuadro1">
          <h6 class="cuadro">Recibe en tu correo las ofertas y promociones que tenemos, suscríbete a nuestro boletín.</h6>
          <a href="" data-reveal-id="myModal1" class="button tiny"><i class="fa fa-newspaper-o"></i> ¡Suscribirme ahora!</a>
        </div>
      </div>
    </div>
  </header>
  <%= render :partial => "test/contact" %>
<% end %>